= form_for @profile, html: {class: "form-horizontal", role: "form"} do |f|
  %div.form_group
    .btn-group{"data-toggle" => "buttons"}
      %label.btn.btn-default
        = f.radio_button :food_pref, "fill", {:value => "Vegan"}
        = f.label :end, "Vegan", class: "control-label"
      %br
      %label.btn.btn-default
        = f.radio_button :food_pref, {:value => "Meat"}
      %label.btn.btn-default
        = f.radio_button :food_pref, {:value => "Other"}
    %div.form_group
      =f.submit class: "btn btn-primary", data: { disable_with: "Adding Suggestion..."}


