<% unless flash[:error].blank? %>
<div>
  <span><%= flash[:error] %></span>
</div>
<% end %>
<%= form_for :login, url: "/login" do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.submit "Login" %>
<% end %>
