.jumbotron
  .jumbo-header
    - if event.attending_event?(current_user) && !event.past?
      .well.well-sm.well-success
        %strong You are attending this event
        = "  -  No longer attending?"
        = link_to  "Don't Attend" , attendee_path(event)
    - if event.past? && event.hosting_or_above?(current_user) && event.status != 'finalized'
      .well.well-sm.well-warning
        %strong This event has ended
        = "  -  Please finalize event"  
        = "  -  " if params[:action] != 'show'
        = link_to  "Finalize" , event_path(event) if params[:action] != 'show'


    .h2.small.pull-right
      = event.event_style.display_name.titleize.sub("_", " ")
    .jumbo-title.h1
      .title
        = event.title
      .jumbo-date-hosts.h2
        .jumbo-date.small
          - if params[:action] != 'show'
            -event.upcoming_dates.sort_by(&:start).each do |schedule|
              = schedule.start.strftime("%B %d, %Y from %I:%M %p") + ' until ' + schedule.end.strftime("%I:%M %p")
              %br
          - if params[:action] == 'show'
            -event.schedules.sort_by(&:start).each do |schedule|
              = schedule.start.strftime("%B %d, %Y from %I:%M %p") + ' until ' + schedule.end.strftime("%I:%M %p")
              %br
        .jumbo-spacer
        .jumbo-hosts
          - if event.hosts.first.external
            .jumbo-hosted-by.small
              Hosted by
              %br
              = event.hosts.first.host
          - unless event.hosts.first.external
            .jumbo-hosted-by.small
              Hosted by
            -event.hosts.collect.each do |host|
              .jumbo-hosts.small
                .jumbo-hosts-picture
                  = display_circle_picture(host.user.id) unless host.external
                  = host.host
                .jumbo-hosts-name
                  ="#{host.user.display_name}" unless host.external
    %p.jumbo-description
      = event.description
    .jumbo-button-panel
      %div.jumbo-main-buttons.pull-left
        - if event.type.class::ATTENDABLE && event.status != 'finalized'
          = link_to event.attend_button_text(current_user), attendee_path(event), class: "btn btn-primary btn-lg" unless event.attending_event?(current_user) || event.hosting_event?(current_user)
        - if params[:action] != 'show'
          = link_to "Details", event_path(event), class: "btn btn-primary btn-lg"
        - if !event.past?
          = link_to "Refer a Friend", '#referral_modal', data: {toggle: 'modal', event: event.id}, class: "btn btn-primary btn-lg openmodal"
          = link_to 'Add To Calendar', event_invite_path(event), class: "btn btn-primary btn-lg invite_link", remote: true

      - if event.hosting_event?(current_user) || admin?
        .jumbo-admin-buttons.pull-right
          .pull-left{style: 'margin-right:5px'}= render partial: 'email_form', locals: {id: 'event', trigger: button_tag('Email Attendees', class: 'pull-left btn btn-default btn-sm'), title: 'Email Event Users', to: event.attendees_email}
          = link_to "Edit",  edit_event_path(event), class: "btn btn-default btn-sm"
          = link_to "Delete", event_path(event), method: :delete, class: "btn btn-default btn-sm"
          -if event.status == 'finalized' && event.past?
            = link_to "View Surveys", surveys_path(id: event), class: "btn btn-default btn-sm"
- if current_user
  = render partial: ('referrals/referral')
:javascript
  $(document).on("ready", function(){
    $(".openmodal").click(function(){
      $(".theeventid").val($(this).data('event'))
    })
  });

