- if event.attending_or_above?(current_user)
  .panel.panel-default
    .panel-heading 
      Attendees
      %span.badge
        = event.attendees.count
    .panel-body
      - if event.hosting_or_above?(current_user) && event.past?
        .finalizing
          .btn.btn-sm.btn-default.submit-finalize.pull-right= "Submit"
          .btn.btn-sm.btn-default.cancel-finalize.pull-right= "Cancel"
        - if event.status != 'finalized'
          .not-finalizing
            .btn.btn-sm.btn-default.finalize.pull-right= "Finalize Event"
      %h4= 'The following users have registered to attend' unless event.status == 'finalized'
      %h4= 'The following users attended the event' if event.status == 'finalized'
      -attending = event.attendees
      .row
        - attending.each do |attendee|
          - unless attendee.status == 'noshow'
            .attending-cell.col-lg-2.col-sm-3.col-xs-4
              %figure.tint.close-picture{'data-toggle' => 'tooltip', 'data-placement' => 'top', title:  "#{attendee.user.display_name}"}
                .imagetooltip{'user_data' => attendee.user.id}
                  = display_picture(attendee.user.id)
      %h5= "No users registered" if event.attendees.count == 0

:javascript
  var clicked = false;
  $(".finalize").bind('click', function(){
    $(".imagetooltip").addClass("didAttend");
    $(".not-finalizing").fadeOut('slow', function(){
      $(".finalizing").fadeIn('slow')
    })
    $(".imagetooltip").bind('click', function(){
      $(this).toggleClass("didAttend");
      $(this).toggleClass("notAttend");
    });
  });
 
  $(".cancel-finalize").bind('click', function(){
    $(".imagetooltip").removeClass("didAttend");
    $(".imagetooltip").removeClass("notAttend");
    $(".imagetooltip").unbind('click');
    $(".finalizing").fadeOut('slow', function(){
      $(".not-finalizing").fadeIn('slow');
    });
  });

  $(".submit-finalize").bind('click', function(){
    var attended = [];
    var not_attended = [];
    $(".didAttend").each( function (index, el) {attended.push(el.getAttribute("user_data"))});
    $(".notAttend").each( function (index, el) {not_attended.push(el.getAttribute("user_data"))});
    var submission_data = new Object();
    submission_data.attended = attended;
    submission_data.not_attended = not_attended;
    $("#user_data").val(JSON.stringify(submission_data));
    if(confirm('Finalizing an event will make it uneditable.  Are you sure you want to proceed?')){
      $("#frmPost").submit();
    }
  });

= form_tag(finalize_path(event), id: 'frmPost', method: :post) do
  = hidden_field_tag 'user_data'
