= form_for @event, html: {class: "form-horizontal", role: "form"} do |f|
  .form_group
    = f.label "Event Type", class: 'control-label'
    - files =  Dir.glob(Rails.root.join("app", "views", params[:controller])+ "forms/_*")
    - files = files.map{|file| [File.basename(file, '.html.haml').gsub("_", " ").strip.titleize, File.basename(file, '.html.haml')[1..-1]]}
    = f.collection_select :event_style, files, :last, :first, {:include_blank => false, selected: (@event.event_style.display_name unless @event.event_style.nil?)}, class: ("hidden" unless @event.id.nil?)
    = @event.event_style.element_type unless @event.id.nil?

  .form_group
    %br
    =f.label :title, nil, class: "control-label"
    =f.text_field :title, value: @event.title, class: "form-control", required: true

  .form_group
    =f.label :description, nil, class: "control-label"
    =f.text_field :description, value: @event.description, class: "form-control", required: true

  .form_group
    .training_and_lunch_display{style: 'display:none'}
      = render partial: ('events/event_host'), locals: {f: f, event: @event}
      = render partial: ('events/event_location'), locals: {f: f, event: @event}
      = render partial: ('events/event_gotomeeting_form'), locals: {f: f, event: @event}

    .form_group
      - files.each do |file|
        .form_styles{id: file.last, style: 'display:none'}
          %br
          = render partial: 'events/forms/' +file.last, locals: { f: f, event: @event }

  %br
  =f.label "Daily Schedule(s)", class: "control-group"

  .fields
    =f.fields_for :schedules do |builder|
      = render partial: ('events/schedule_fields'), locals: {f: builder}
  .organizer
    =link_to_add_fields "Add Day", f, :schedules

  .form_group
    =f.label :restricted, "Restricted?", class: "control-label"
    =f.check_box :restricted, checked: (@event.restricted unless @event.restricted.blank?), class: "restriction restricted_event"

  .form_group.depart_options.indented#bluesource_departments
    =f.label "Department Auto-Approvals", id: "dep_auto_approve"
    = f.fields_for :department_approvals do |d|
      -@event.get_department_array.each do |dep|
        .form_group
          =render '/events/event_departments', dept: dep, depth: 0, d: d, event: @event

  .form_group
    = label_tag 'Add Lab to Event?'
    = check_box_tag 'add_lab', true, !@event.lab_id.nil?
    .lab_section.form_group
      = f.label 'Select Lab', class: 'control-label'
      = f.collection_select( 'lab_id', @labs,  :id, :title )

  .form_group
    =f.label :limited_visibility, "Limit Visibility?", class: "control-label"
    =f.check_box :limited_visibility, checked: (@event.limited_visibility unless @event.limited_visibility.blank?), class: "visibility_of_event"
    
  .form_group.set_visible_departments.indented#visibility_options
    =f.label "Select which departments can view the event:", id: "visibility_instructions"
    = f.fields_for :visible_to_departments do |t|
      -@event.get_department_array.each do |dep|
        .form_group
          =render '/events/event_visibility', dept: dep, depth: 0, t: t, event: @event

  - if params[:action] == 'new'
    .form_group
      %br
      =f.submit class: "btn btn-primary", data: { disable_with: "Adding Event..."}

  - if params[:action] != 'new'
    = render partial: '/events/email_Attendee_updates', locals: {f: f}
    .form_group
      %br
      = link_to "Update Event", '#sendEmail', data: {toggle: 'modal'}, class: "btn btn-primary btn-lg"
:javascript

  $("#event_event_style").on('change', forms)
  function forms(){
    $('.form_styles').fadeOut('fast');
    $('#' + this.value).fadeIn('fast'); 
    if (this.value=='training_class' || this.value=='lunch_and_learn'){
      $('.training_and_lunch_display').fadeIn('fast');
    }
    else{
      $('.training_and_lunch_display').fadeOut('fast');
    }
  }

  $(document).on("ready", function(){
    if ($('#add_lab').is(':checked')){
      $('.lab_section').show()
    }else{
      $('.lab_section').hide()
    }
    var now = new Date();
    var gmtoffset = now.getTimezoneOffset();
    $('#time_zone_offset').val(gmtoffset);

    value = $("#event_event_style").val();
    $('#' + value).show();
    if (value=='training_class' || value=='lunch_and_learn'){
      $('.training_and_lunch_display').show();
    }
    
    if ($(".meeting:checked").length > 0)
      $("#gotomeetingform").show()
    $(".meeting").on("click", function(){
      $("#gotomeetingform").toggle($(this));        
    });
    $('#timepicker').timepicker({ 
      useSelect: true,
      'scrollDefault': 'now' 
    });
    $('#timepickerend').timepicker({ 
      useSelect: true,
      'scrollDefault': 'now' 
    });
    $(".remove").on("click", function(){
      return $(this).parent().remove();
    });
    $("#add_lab").on('change', function(){
      $('.lab_section').fadeToggle();
    })
    if ($(".visibility_of_event:checked").length > 0)
      $("#visibility_options").show()
    $(".visibility_of_event").on("click", function(){
      $("#visibility_options").toggle($(this));
    if ($(".restricted_event:checked").length > 0)
      $("#bluesource_departments").show()
    $(".restricted_event").on("click", function(){
      $("#bluesource_departments").toggle($(this));        
    });
  });
 
.clearfix
