= form_for @event, html: {class: "form-horizontal", role: "form"} do |f|
  .form_group
    = f.label "Event Type", class: 'control-label'
    - files =  Dir.glob(Rails.root.join("app", "views", params[:controller])+ "forms/_*")
    - files = files.map{|file| [File.basename(file, '.html.haml').gsub("_", " ").strip.titleize, File.basename(file, '.html.haml')[1..-1]]}
    = f.collection_select :event_style, files, :last, :first, {:include_blank => false, selected: (@event.event_style.display_name unless @event.event_style.nil?)}, class: ("hidden" unless @event.id.nil?)
    = @event.event_style.element_type unless @event.id.nil?

  .form_group
    %br
    =f.label :title, nil, class: "control-label"
    =f.text_field :title, value: @event.title, class: "form-control", required: true

  .form_group
    =f.label :description, nil, class: "control-label"
    =f.text_field :description, value: @event.description, class: "form-control", required: true

    .form_group
      - files.each do |file|
        .form_styles{id: file.last, style: 'display:none'}
          %br
          = render partial: 'events/forms/' +file.last, locals: { f: f, event: @event }
  %br
  =f.label "Daily Schedule(s)", class: "control-group"

  .fields
    =f.fields_for :schedules do |builder|
      = render partial: ('events/schedule_fields'), locals: {f: builder}
  .organizer
    =link_to_add_fields "Add Day", f, :schedules

  .form_group
    =f.label :restricted, "Restricted?", class: "control-label"
    =f.check_box :restricted, checked: (@event.restricted unless @event.restricted.blank?), class: "restriction"

  .form_group
    = label_tag 'Add Lab to Event?'
    = check_box_tag 'add_lab', true, !@event.lab_id.nil?
    .lab_section.form_group
      = f.label 'Select Lab', class: 'control-label'
      = f.collection_select( 'lab_id', @labs,  :id, :title )

  - if params[:action] == 'new'
    .form_group
      %br
      =f.submit class: "btn btn-primary", data: { disable_with: "Adding Event..."}

  - if params[:action] != 'new'
    = render partial: '/events/email_Attendee_updates', locals: {f: f}
    .form_group
      %br
      = link_to "Update Event", '#sendEmail', data: {toggle: 'modal'}, class: "btn btn-primary btn-lg"
:javascript

  $("#event_event_style").on('change', forms)
  function forms(){
    $('.form_styles').fadeOut('fast');
    $('#' + this.value).fadeIn('fast');  
  }

  $(document).on("ready", function(){
    if ($('#add_lab').is(':checked')){
      $('.lab_section').show()
    }else{
      $('.lab_section').hide()
    }
    var now = new Date();
    var gmtoffset = now.getTimezoneOffset();
    $('#time_zone_offset').val(gmtoffset);

    value = $("#event_event_style").val();
    $('#' + value).show();
    
    if ($(".meeting:checked").length > 0)
      $("#gotomeetingform").show()
    $(".meeting").on("click", function(){
      $("#gotomeetingform").toggle($(this));        
    });
    $('#timepicker').timepicker({ 
      useSelect: true,
      'scrollDefault': 'now' 
    });
    $('#timepickerend').timepicker({ 
      useSelect: true,
      'scrollDefault': 'now' 
    });
    $(".remove").on("click", function(){
      return $(this).parent().remove();
    });
    $("#add_lab").on('change', function(){
      $('.lab_section').fadeToggle();
    })
  });
 
.clearfix
