
= render partial: 'eventJumbo', locals: {event: @event}      

-if @event.attending_event?(current_user) || @event.hosting_event?(current_user) || admin?
  -if @event.event_style.element.has_GoToMeeting
    = render partial: 'eventGoToMeeting', locals: {event: @event} 
 
  = render partial: 'eventAttachments', locals: {event: @event} if @event.attachments.count > 0 || admin? || @event.hosting_event?(current_user)
  = render partial: 'eventAttendees', locals: {event: @event}
           
= "Event Details will be displayed for event attendees" unless @event.attending_event?(current_user) || admin? || @event.hosting_event?(current_user)
:javascript
  $('.close-picture').tooltip() 
