%h1
  Event Surveys:
%div#accordion
  -@surveys.each do |survey|
    %h5
      -if admin? && !Event.find(survey.event_id).hosting_event?(current_user)
        Survey from
        =User.find(survey.user_id).display_name
      -elsif Event.find(survey.event_id).hosting_event?
        Survey
    %div
      %strong What went well with the event?<br>
      %p2= survey.went_well
      <br>
      <br>
      %strong What could have been improved on?<br>
      %p2= survey.improved
      <br>
      <br>
      %strong How would you rate the host's knowledge on the topic? <br>
      %p2= survey.host_knowledge
      <br>
      <br>
      %strong How would you rate the host's presentation?  <br>
      %p2= survey.host_presentation
      <br>
      <br>
      %strong How could the information covered be used in your current work?  <br>
      %p2= survey.effect
      <br>
      <br>
      %strong Any extra thoughts or comments?  <br>
      %p2= survey.extra
%h1= "No surveys to display" if @surveys.count == 0
:javascript
  $(function(){
    $("#accordion").accordion({collapsible: true, active:false,heightStyle: "content"});
  });
