-if @lunchlearns.count != 0
  .h1
    Next Event
  -firstLL = @lunchlearns.shift
  = render partial: 'eventJumbo', locals: {event: firstLL}      
  %h3 Other Upcoming Events
  #accordion
    -@lunchlearns.each do |lunch|
      %h5
        =lunch.title
        %small
          -if lunch.hosts.count != 0
            = "Hosted by  #{lunch.hosts.collect{|host| host.user.display_name}.join(" and ")}   -    "
          %strong
            = "#{ lunch.lunch_date.to_date.strftime("%B %d, %Y") + " at " + lunch.lunch_time.strftime("%I:%M %p") + (lunch.end_time.blank? ? "" : " to " +lunch.end_time.strftime("%I:%M %p"))}"
      %div
        - if lunch.is_attending_event(current_user)
          .well.well-sm.well-success
            %strong You are attending this event
            = "  -  No longer attending?"
            = link_to  "Don't Attend" , attendee_path(lunch)
        = lunch.description
        %br
        = link_to (lunch.is_attending_event(current_user) ? "Don't Attend" : "Attend"), attendee_path(lunch), class: "btn btn-primary btn-lg white-text" unless lunch.is_attending_event(current_user)
        = link_to "Details", lunchlearn_path(lunch), class: "btn btn-primary btn-lg white-text"
        - if is_admin
          %span.pull-right
            =link_to "Edit", edit_lunchlearn_path(lunch), class: "btn btn-default btn-sm"
            =link_to "Delete", lunchlearn_path(lunch), method: :delete, class: "btn btn-default btn-sm"

-if @lunchlearns.count == 0
  = "No lunch and learns are currently scheduled"
:javascript
  $(function(){
    $("#accordion").accordion({collapsible: true, active:false,heightStyle: "content"});
  });
