- if @lunch.attendees.exists?(user_id: session[:current_user_id])
  .alert.alert-success.fadeout
    %button.close{ :data => { :dismiss => "alert" } } x

    %strong You are attending this event
    = "  -  No longer attending?"
    = link_to  "Don't Attend" , attendee_path(@lunch)

      
.jumbotron
  .jumbo-header
    .jumbo-admin-buttons.pull-right     
      = link_to (@lunch.attendees.exists?(user_id: session[:current_user_id]) ? "Don't Attend" : "Attend"), attendee_path(@lunch), class: "btn btn-primary btn-lg" if not @lunch.attendees.exists?(user_id: session[:current_user_id])
      - if is_admin
        = link_to "Edit", edit_lunchlearn_path(@lunch), class: "btn btn-default btn-sm"
        = link_to "Delete", lunchlearn_path(@lunch), method: :delete, class: "btn btn-default btn-sm"
    .jumbo-title.h1
      = @lunch.title
    .jumbo-date-hosts.h2
      .jumbo-date.small
        = @lunch.lunch_date.to_date.strftime("%B %d, %Y") + " at " + @lunch.lunch_time.to_formatted_s(:time)
      .jumbo-spacer
      .jumbo-hosts
        .jumbo-hosted-by.small
          Hosted by
        -@lunch.hosts.collect.each do |host|
          .jumbo-hosts.small
            .jumbo-hosts-picture
              =image_tag User.find(host.user_id).photo, class: "img-circle"
            .jumbo-hosts-name
              ="#{User.find(host.user_id).display_name}"
  %p.jumbo-description
    = @lunch.description
  .jumbo-button-panel
    %div.jumbo-main-buttons.pull-left


-if @lunch.attendees.exists?(user_id:session[:current_user_id]) || @lunch.hosts.exists?(user_id:session[:current_user_id]) || is_admin
  -if @lunch.has_GoToMeeting
    .panel.panel-default
      .panel-heading GoTo Meeting information:
      .meetinglink
        Please join the meeting:  
        = link_to @lunch.go_to_meeting_url
      .meetingphone
        To call in dial:  
        = @lunch.meeting_phone_number
      .access
        Use access code:  
        = @lunch.access_code
  .panel.panel-default
    .panel-heading 
      Attendees
      %span.badge
        = @lunch.attendees.count
    .panel-body
      %h4 The following users have registered to attend
      -@lunch.attendees.each do |attendee|
        %figure.tint.close-picture{'data-toggle' => 'tooltop', 'data-placement' => 'top', title: User.find(attendee.user_id).display_name}
        .image= image_tag User.find(attendee.user_id).photo, class: "img-circle"
      %h5= "No users registered" if @lunch.attendees.count == 0
:javascript
  $('.image').tooltip()
  
