
= render partial: 'eventJumbo', locals: {event: @lunch}      

-if @lunch.is_attending_event(current_user) || @lunch.is_hosting_event(current_user) || is_admin
  -if @lunch.has_GoToMeeting
    = render partial: 'eventGoToMeeting', locals: {event: @lunch}      
  = render partial: 'eventAttendees', locals: {event: @lunch}
  = render partial: 'eventAttachments', locals: {event: @lunch}            
= "Event Details will be displayed for event attendees" unless @lunch.is_attending_event(current_user)
:javascript
  $('.close-picture').tooltip() 
