-if @events.count != 0
  %h3 Previous Events
  %div#accordion
    -@events.each do |event|
      %h5
        =event.title
        %small= "Hosted by  #{event.hosts.collect{|host| User.find(host.user_id).display_name}.join(" and ")}   -    #{ event.schedules.first.event_date.to_date.strftime("%B %d, %Y")}"
      %div
        = event.description
        %br
        = link_to "Details", event_path(event), class: "btn btn-primary btn-lg white-text"
        - if admin?
          %span.pull-right
            =link_to "Edit", edit_event_path(event), class: "btn btn-default btn-sm"
            =link_to "Delete", event_path(event), method: :delete, class: "btn btn-default btn-sm"

-if @events.count == 0
  = "There are no previous events in the system"
:javascript
  $(function(){
    $("#accordion").accordion({collapsible: true, active:false,heightStyle: "content"});
  });
