%table.table.table-striped.table-bordered
  %thead
    %td
      %strong User
    %td
      %strong Environment
    %td
      %strong Created
    %td
      %strong Expiring
    %td
      %strong Status
    %td
      %strong Delete
  - @environments.each do |env|
    %tr
      %td
        = env.user.display_name
      %td
        = env.title
      %td
        = env.created_at.to_formatted_s(:long_ordinal)
      %td
        = env.expiration.to_formatted_s(:long_ordinal)
      %td
        = env.status.capitalize
      %td
        = link_to  delete_user_lab_path(env), :confirm => 'Are you sure?', :method => :delete do
          %span.glyphicon.glyphicon-trash


