
.panel.panel-default
  .panel-heading
    %h4.panel-title
      Orasi Labs
  .panel-body
    .h5
      Labs are a method of creating a temporary environment to use in training.  The labs below have been configured for users to be able to immediately jump in and do stuff.  There is other relevant stuff.  And more relevant stuff that I will add here at a later date.

#accordion
  - @labs.each do |lab|
    - if lab.public || current_user.admin?
      %h4
        .load{style: 'position:absolute;top:3;visibility:hidden', id: 'load_' + lab.id.to_s}
          .spinner
            .inner
            .outer
        .lab_title{style: 'margin-left:40px'}= lab.title
        - unless lab.public
          .pull-right{style: 'margin-top:-18px'}
            Private

      .body
        .description= lab.description


        - if @env.nil?
          .btn.btn-primary.spin_button.pull-left
            .create_env.pull-left{id: lab.id} Create Environment
            .placeholder{style: 'visibility:hidden'} Create Environment
        - unless @env.nil?
          - if @env.template_id == lab.id
            .btn.btn-primary.spin_button.pull-left.disabled
              .create_env.pull-left{id: lab.id} Currently Checked Out
              .placeholder{style: 'visibility:hidden'} Create Environment
          - unless @env.template_id == lab.id
            .btn.btn-primary.spin_button.pull-left
              .create_env.pull-left{id: lab.id} Create Environment
              .placeholder{style: 'visibility:hidden'} Create Environment


        = link_to 'More Details', lab_path(lab), class: 'btn btn-primary pull-left details_button'
        .pull-right
          =link_to "Edit Template", edit_lab_path(lab), class: "btn btn-default btn-sm"
          =link_to "Delete Template", lab_path(lab), method: :delete, class: "btn btn-default btn-sm", confirm: "This will delete the Lab Template from onTap.  Are you sure you would like to continue?"
        .pull-left.patient{id: 'patient_' + lab.id.to_s }
          Please be patient while we spin up your lab.  This process can take several minutes.

:javascript
  $(function(){
    $("#accordion").accordion({collapsible: true, active:false,heightStyle: "content"});
  });
- unless @env.nil?
  - unless @env.status === 'running'
    :javascript
      $(document).ready(function(){
        Window.disable_input("#{@env.template_id}")
        Window.get_status("#{@env.id}", "#{@env.template_id}")
      })
