- unless @env.nil?
  .alert{ :class => "alert bg-info fadeout" }
    %button.close{ :data => { :dismiss => "alert" } } x
    .time= "The lab #{@env.template.title} is currently checked out to you"
    .time= "This lab will expire in #{time_ago_in_words(@env.expiration)}"
    - if @env.expiration < DateTime.now
      - throw Exception

.panel.panel-default
  .panel-heading
    .h4
      .pull-left.load{style: 'visibility:hidden', id: 'load_' + @lab.id.to_s}
        .spinner
          .inner
          .outer
      = @lab.title
  .panel-body

    .env_description= @lab.description


    .btn.btn-primary.spin_button.pull-left
      .create_env.pull-left{id: @lab.id} Create Environment
      .placeholder{style: 'visibility:hidden'} Create Environment

    .pull-right.patient{id: 'patient_' + @lab.id.to_s }
      Please be patient while we spin up your lab.  This process can take several minutes.

    #loading.pull-left{style: 'display:none'}
      .spinner
        .inner
        .outer
    #timeout
      %h4.alert.alert-danger{role: 'alert'} <strong>The requested environment could not be created.</strong> Please contact the system administrator for help resolving this matter
= render partial: ('lab_credentials'), locals: {lab: @lab}
= render partial: ('lab_properties'), locals: {lab: @lab}

:javascript
   env_id = "#{@env.id unless @env.nil?}"
   create_lab_path = "#{create_lab_path(@lab)}"

- unless @env.nil?
  - if @env.template_id == @lab.id
    :javascript
      $(document).ready(function(){
        Window.disable_input("#{@env.template_id}")
        Window.get_status("#{@env.id}", "#{@env.template_id}")
      })

