<!DOCTYPE html>
<html>
<head>
  <title>LunchLearn</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:current_user_id] %>
<%= link_to "Logout", { controller: "welcome", action: "logout" } %>
<% end %>
<%= yield %>

</body>
</html>
